In [1]:
import numpy as np 
import pandas as pd

In [2]:
movies = pd.read_csv('TMDB_movie_dataset_v11.csv')

In [3]:
movies.head(2)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."

In [4]:
movies.shape

(1162556, 24)

In [5]:
# Drop rows with any NaN values
movies = movies.dropna()

# Print the shape of the DataFrame before and after dropping rows
print("Original shape:", movies.shape)
print("Shape after dropping rows with NaN values:", movies.shape)

Original shape: (9678, 24)
Shape after dropping rows with NaN values: (9678, 24)

In [6]:
#movies = movies[movies['vote_average'] >= 7.5]

In [7]:
poster = movies[['id','backdrop_path']]
poster.to_csv('poster.csv', index=False)

In [8]:
movies.shape

(9678, 24)

In [9]:
print(movies.columns.tolist())

['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date', 'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'tagline', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 'keywords']

In [10]:
movies = movies[['id','title','overview','genres','keywords','tagline', 'production_companies']]

In [11]:
movies.head()

,id,title,overview,genres,keywords,tagline,production_companies
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc...",Your mind is the scene of the crime.,"Legendary Pictures, Syncopy, Warner Bros. Pict..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,...",Mankind was born on Earth. It was never meant ...,"Legendary Pictures, Syncopy, Lynda Obst Produc..."
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f...",Welcome to a world without rules.,"DC Comics, Legendary Pictures, Syncopy, Isobel..."
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ...",Enter the world of Pandora.,"Dune Entertainment, Lightstorm Entertainment, ..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com...",Some assembly required.,Marvel Studios

In [12]:
def remove_spaces_from_column(df, column_name):
    df[column_name] = df[column_name].str.replace(" ", "", regex=False)
    return df

In [13]:
movies = remove_spaces_from_column(movies, 'genres')
movies = remove_spaces_from_column(movies, 'production_companies')

In [14]:
movies.head()

,id,title,overview,genres,keywords,tagline,production_companies
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action,ScienceFiction,Adventure","rescue, mission, dream, airplane, paris, franc...",Your mind is the scene of the crime.,"LegendaryPictures,Syncopy,WarnerBros.Pictures"
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure,Drama,ScienceFiction","rescue, future, spacecraft, race against time,...",Mankind was born on Earth. It was never meant ...,"LegendaryPictures,Syncopy,LyndaObstProductions"
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama,Action,Crime,Thriller","joker, sadism, chaos, secret identity, crime f...",Welcome to a world without rules.,"DCComics,LegendaryPictures,Syncopy,IsobelGriff..."
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action,Adventure,Fantasy,ScienceFiction","future, society, culture clash, space travel, ...",Enter the world of Pandora.,"DuneEntertainment,LightstormEntertainment,20th..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"ScienceFiction,Action,Adventure","new york city, superhero, shield, based on com...",Some assembly required.,MarvelStudios

In [15]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,id,title,overview,genres,keywords,tagline,production_companies
1023,97630,Zero Dark Thirty,"[A, chronicle, of, the, decade-long, hunt, for...","Thriller,Drama,History","hotel, van, mossad, cia, assassination, prison...",The greatest manhunt in history.,"ColumbiaPictures,AnnapurnaPictures,FirstLight"
2401,707,A View to a Kill,"[A, newly-developed, microchip, designed, by, ...","Adventure,Action,Thriller","london, england, helicopter, fire, drug abuse,...",Has James Bond finally met his match?,"EonProductions,UnitedArtists,Danjaq"
14084,438435,M.F.A.,"[After, the, accidental, death, of, her, rapis...",Thriller,"rape, trauma, campus, art student, revenge, vi...",Mastering the art of revenge.,"VillainessProductions,SyncreticEntertainment,G..."
26874,45013,Burning Palms,"[A, subversive, tale, that, interlaces, five, ...","Comedy,Drama","career, taboo, subversive tale",Five Tales That Will F#%! You Up For Life,FilmsInMotion
8286,595586,Causeway,"[A, US, soldier, suffers, a, traumatic, brain,...",Drama,"post-traumatic stress disorder (ptsd), new orl...",Begin again.,"ExcellentCadaver,IACFilms,A24,IPR.VC"

In [16]:
movies.head()

,id,title,overview,genres,keywords,tagline,production_companies
0,27205,Inception,"[Cobb,, a, skilled, thief, who, commits, corpo...","Action,ScienceFiction,Adventure","rescue, mission, dream, airplane, paris, franc...",Your mind is the scene of the crime.,"LegendaryPictures,Syncopy,WarnerBros.Pictures"
1,157336,Interstellar,"[The, adventures, of, a, group, of, explorers,...","Adventure,Drama,ScienceFiction","rescue, future, spacecraft, race against time,...",Mankind was born on Earth. It was never meant ...,"LegendaryPictures,Syncopy,LyndaObstProductions"
2,155,The Dark Knight,"[Batman, raises, the, stakes, in, his, war, on...","Drama,Action,Crime,Thriller","joker, sadism, chaos, secret identity, crime f...",Welcome to a world without rules.,"DCComics,LegendaryPictures,Syncopy,IsobelGriff..."
3,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action,Adventure,Fantasy,ScienceFiction","future, society, culture clash, space travel, ...",Enter the world of Pandora.,"DuneEntertainment,LightstormEntertainment,20th..."
4,24428,The Avengers,"[When, an, unexpected, enemy, emerges, and, th...","ScienceFiction,Action,Adventure","new york city, superhero, shield, based on com...",Some assembly required.,MarvelStudios

In [17]:
# Ensure all columns used for concatenation are of type string
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies['tags'] = (
    movies['overview'].astype(str) + " " +
    movies['keywords'].astype(str) + " " +
    movies['tagline'].astype(str) + " " +
    movies['genres'].astype(str) + " " +
    movies['production_companies'].astype(str)
)

# Print sample of the resulting 'tags' column
print(movies['tags'].head())


movies = movies.apply(lambda x: x.replace(",", ", ") if isinstance(x, str) else x)

0    ['Cobb,', 'a', 'skilled', 'thief', 'who', 'com...
1    ['The', 'adventures', 'of', 'a', 'group', 'of'...
2    ['Batman', 'raises', 'the', 'stakes', 'in', 'h...
3    ['In', 'the', '22nd', 'century,', 'a', 'parapl...
4    ['When', 'an', 'unexpected', 'enemy', 'emerges...
Name: tags, dtype: object

In [18]:
movies.head()

,id,title,overview,genres,keywords,tagline,production_companies,tags
0,27205,Inception,"[Cobb,, a, skilled, thief, who, commits, corpo...","Action,ScienceFiction,Adventure","rescue, mission, dream, airplane, paris, franc...",Your mind is the scene of the crime.,"LegendaryPictures,Syncopy,WarnerBros.Pictures","['Cobb,', 'a', 'skilled', 'thief', 'who', 'com..."
1,157336,Interstellar,"[The, adventures, of, a, group, of, explorers,...","Adventure,Drama,ScienceFiction","rescue, future, spacecraft, race against time,...",Mankind was born on Earth. It was never meant ...,"LegendaryPictures,Syncopy,LyndaObstProductions","['The', 'adventures', 'of', 'a', 'group', 'of'..."
2,155,The Dark Knight,"[Batman, raises, the, stakes, in, his, war, on...","Drama,Action,Crime,Thriller","joker, sadism, chaos, secret identity, crime f...",Welcome to a world without rules.,"DCComics,LegendaryPictures,Syncopy,IsobelGriff...","['Batman', 'raises', 'the', 'stakes', 'in', 'h..."
3,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action,Adventure,Fantasy,ScienceFiction","future, society, culture clash, space travel, ...",Enter the world of Pandora.,"DuneEntertainment,LightstormEntertainment,20th...","['In', 'the', '22nd', 'century,', 'a', 'parapl..."
4,24428,The Avengers,"[When, an, unexpected, enemy, emerges, and, th...","ScienceFiction,Action,Adventure","new york city, superhero, shield, based on com...",Some assembly required.,MarvelStudios,"['When', 'an', 'unexpected', 'enemy', 'emerges..."

In [19]:
new = movies.drop(columns=['overview','genres','keywords','tagline','production_companies'])

In [20]:
new.head()

       id            title                                               tags
0   27205        Inception  ['Cobb,', 'a', 'skilled', 'thief', 'who', 'com...
1  157336     Interstellar  ['The', 'adventures', 'of', 'a', 'group', 'of'...
2     155  The Dark Knight  ['Batman', 'raises', 'the', 'stakes', 'in', 'h...
3   19995           Avatar  ['In', 'the', '22nd', 'century,', 'a', 'parapl...
4   24428     The Avengers  ['When', 'an', 'unexpected', 'enemy', 'emerges...

In [21]:
new.shape

(9678, 3)

In [22]:
new['tags'] = new['tags'].str.strip('[]').str.replace("'", "").str.replace(",", "")
new.head()

       id            title                                               tags
0   27205        Inception  Cobb a skilled thief who commits corporate esp...
1  157336     Interstellar  The adventures of a group of explorers who mak...
2     155  The Dark Knight  Batman raises the stakes in his war on crime. ...
3   19995           Avatar  In the 22nd century a paraplegic Marine is dis...
4   24428     The Avengers  When an unexpected enemy emerges and threatens...

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [24]:
vector = cv.fit_transform(new['tags']).toarray()

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
similarity = cosine_similarity(vector)

In [27]:
similarity

array([[1.        , 0.04358366, 0.07563613, ..., 0.03074377, 0.03009646,
        0.03296902],
       [0.04358366, 1.        , 0.        , ..., 0.02054554, 0.        ,
        0.        ],
       [0.07563613, 0.        , 1.        , ..., 0.02139313, 0.10471348,
        0.        ],
       ...,
       [0.03074377, 0.02054554, 0.02139313, ..., 1.        , 0.        ,
        0.        ],
       [0.03009646, 0.        , 0.10471348, ..., 0.        , 1.        ,
        0.04564355],
       [0.03296902, 0.        , 0.        , ..., 0.        , 0.04564355,
        1.        ]])

In [28]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [29]:
recommend('Avatar')

Space Chimps
Alien
Rebel Moon - Part One: A Child of Fire
The 21st Century Race For Space
Aliens

In [30]:
import pickle

In [31]:
#pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [32]:
pickle.dump(new.to_dict(),open('movie_dict.pkl','wb'))